:root {
  --primary-color: #007bff;
  --primary-color-light: #057fff;
  --secondary-color: #6c757d;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --white-color: #fff;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191d2b;
  --scrollbar-bg-color: #383838;
  --scrollbar-thump-color: #6b6b6b;
  --scrollbar-track-color: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

html,
body,
#___gatsby {
  height: 100%;
}

body {
  margin: 0px;
}
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

body {
  background-color: var(--background-dark-color);
  color: var(--font-light-color);
}

body::-webkit-scrollbar {
  width: 9px;
  background-color: #383838;
}
body::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  height: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: #383838;
}

a {
  color: inherit;
  font-family: inherit;
}
